cta {
    font-family: $footer-font-family;
    font-size: 90%;
    line-height: 1.3em;
    display: block;
    background-color: $dark-accent-background;
    color: darken($text, 20%);
    padding: 1.2em 0;

    inner {
        display: block;
        margin: 0 auto;
        max-width: $preferred-text-width;
    }

    h3 {
        color: $text;
        margin-top: 0;
        font-weight: bold;
    }

    p {
        display: block;
        max-width: 35rem;
        margin: .5em auto .5em 0;
    }

    ul {
        margin: .9em auto .9em 0;

        li {
            margin: .5em 0 .5em 1.5em;
            max-width: 32rem;
            list-style: disc;
        }
    }

    p:last-of-type {
        margin-bottom: 0;
    }
}
