.es_video {
    padding: 2vw 0;
    text-align: center;
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .video-wrapper {
        position: relative;
        width: 100%;
        max-width: min(100vw, calc(80vh * 16 / 9));
        aspect-ratio: 16 / 9;
        background-color: #000;
    }

    .video-js {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .caption {
        text-align: center;
        font-style: italic;
        font-size: 80%;
        margin-top: .2em;
    }
}
