footer {
    font-family: $footer-font-family;
    font-size: 90%;
    line-height: 0.9em;

    color: hsl(0, 0, 40%);
    padding: 1.2em 0;

    p {
        font-size: 70%;
        margin: .5em auto;
        text-align: center;
    }

    a { color: hsl(0, 0, 70%); }
}
