header {
    background-color: $dark-accent-background;
    padding: 2em 0;
    overflow: hidden;
    width: 100%;

    .brand {
        margin-top: 1em;
        text-align: center;
    }

    .nav {
        margin: .6em auto;
        text-align: center;

        li {
            display: inline;
            margin: 0 .4em;
        }
    
        a {
            text-decoration: none;
        }
    }
}
