header {
    background: linear-gradient( $dark-accent-background, 70%, $dark-accent-background, 90%, rgba(31, 26, 23, 0));
    display: block;
    color: #ccc;
    height: 5em;
    overflow: hidden;
    width: 100%;
    z-index: 800;
    position: fixed;
	top: 0;
	left: 0;
    
    .full-name, .short-name {
        position: fixed;
        overflow: hidden;
        transition: opacity 0.5s;
        top: .4em;
        left: .6em;
    }

    .full-name { opacity: 100%; }
    .short-name { opacity: 0; }

    .title {
        opacity: 0;
        transition: opacity 0.5s;
        color: #56575c;
        font-family: $header-font-family;
        font-weight: normal;
        font-size: 70%;

        a { color: #807f79; }
    }
}

header.hide-name {
    .full-name { opacity: 0; }
    .short-name { opacity: 100%; }
}

header.show-title {
    .title { opacity: 100%; }
}

.es-com {
    font-family: john-doe, serif;
    font-size: 160%;
    font-weight: 700;
    color: #56575c;
    .scouten { color: #807f79; }

    a {
        text-decoration: none;
        color: #5c5f66;

        img { opacity: 50%; }
    }

    a:hover {
        color: white;
        text-decoration: none;

        img { opacity: 100%; }
        .scouten { color: white; }
    }
}
