.page {
    p:first-of-type {
        font-size: $first-paragraph-size;
    }

    ul {
        margin: -1em auto;
    }

    ul li {
        margin: .25em 0 .25em 1.5em;
        list-style: disc;
    }
}

#next_prev {
    font-family: $header-font-family;
    color: $header-text-color;

    a {
        color: $header-text-color;
    }

    a:hover {
        color: $text;
        text-decoration: underline;
    }
}
