.page, .section {
    padding-top: 4em;

    p:first-of-type {
        font-size: $first-paragraph-size;
    }

    ul li {
        margin: .25em 0 .25em 1.5em;
        list-style: disc;
    }

    .breadcrumb {
        font-family: $header-font-family;
        margin-bottom: 1em;

        ul {
            li {
                margin: 0;

                a { padding: 0 .4em; }
            }

            li:first-of-type {
                padding-left: 0;

                a { padding-left: 0; } 
                .icon { margin: 0; }
            }
        }
    }

    .title-assembly {
        margin-top: 0;
        margin-bottom: 3em;

        h1.title {
            margin-top: 0;
            margin-bottom: .6em;
        }

        ul.page_meta {
            margin: 0 auto;
            max-width: $preferred-text-width;
            font-family: $header-font-family;
            font-size: 80%;

            li {
                list-style: none;
                margin: .25em 0;
                line-height: 1.1em;
            }
        }
    }

    a { color: $header-text-color; }
}

#map {
    margin-top: 3em;
    height: 60vh;
}

.map-caption {
    margin-top: 0em;
    text-align: center;
    font-family: $header-font-family;
    font-weight: 300;
    font-size: 75%;
}

.gpx-marker img {
    max-width: 170px;
    max-height: 170px;
}

#next_prev {
    font-family: $header-font-family;
    color: $header-text-color;

    a {
        color: $header-text-color;
    }

    a:hover {
        color: $text;
        text-decoration: underline;
    }
}
