$main-section-background: white !default;
$dark-accent-background: #262933 !default;

$text: black !default;
$link: hsl(0, 0%, 20%) !default;
$accent-text-color: $text !default;
$header-text-color: lighten($dark-accent-background, 40%) !default;
$title-accent-color: #df4714;
$footer-accent-background: black !default;
$scheme-main: white !default;

$body-font-size: 1.3em !default;
$body-line-height: 1.6 !default;

$preferred-text-width: 40rem !default;
$first-paragraph-size: 115% !default;

$preferred-card-width: 48rem !default;

$family-primary: OculiText, serif !default;
$header-font-family: expo-sans-pro, sans-serif !default;
$footer-font-family: expo-sans-pro, sans-serif !default;
