@charset "utf-8";

@import "./variables";
@import "../../../vendor/bulma/bulma";

@import "./es_image";
@import "./es_vimeo";

@import "./header";
@import "./about";
@import "./page";
@import "./cta";
@import "./footer";

section {
    padding: 1rem !important;
}

section.root {
    background-color: $main-section-background;

    .container { max-width: none !important; }
}

a:hover {
    color: $accent-text-color;
    text-decoration: underline;
}

strong {
    color: $accent-text-color;
}

.anti-section {
    margin-left: -1rem;
    margin-right: -1rem;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, #next_prev {
    max-width: $preferred-text-width;
    margin: 1.6em auto;
}

h1, h2, h3, h4, h5, h6, .title {
    font-family: $header-font-family;
    color: $header-text-color;
    margin: 2em auto 1.4em;
    line-height: 1.2em;
}

h1.title {
    color: $title-accent-color;
}

.es-dark-mode h1.title {
    color: #ddd;
}

h1, h1.title, h2 {
    font-weight: 700;
    letter-spacing: -1px;
}

h1, h1.title {
    font-size: 200%;
    margin-bottom: 1.5em;
}

h2 {
    font-size: 160%;
}

h2, h3, h4, h5, h6 {
    font-weight: 400;
}

@font-face {
    font-family: 'OculiText';
    src: url("/fonts/OculiText-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'OculiText';
    src: url("/fonts/OculiText-BoldItalic.woff2") format("woff2");
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'OculiText';
    src: url("/fonts/OculiText-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OculiText';
    src: url("/fonts/OculiText-RegularItalic.woff2") format("woff2");
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'OculiText';
    src: url("/fonts/OculiText-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'OculiText';
    src: url("/fonts/OculiText-MediumItalic.woff2") format("woff2");
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'OculiText';
    src: url("/fonts/OculiText-Black.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'OculiText';
    src: url("/fonts/OculiText-BlackItalic.woff2") format("woff2");
    font-weight: 900;
    font-style: italic;
}
