<div class="es_image anti-section" id="{{id}}">
  <img src="{{id}}.jpg" alt="">
  {% if caption or title or creator -%}
    <div class="caption">
      {% if title -%}
        <span class="caption-title">{{ title }} </span>
        {% if caption or creator -%}&nbsp;&middot; {% endif -%}
      {% endif -%}
      {% if caption -%}{{ caption }}{% endif -%}
      {% if creator -%}
        {% if title or caption -%}&nbsp;&middot; {% endif -%}
        by {{ creator }}
      {% endif -%}
    </div>
  {% endif -%}
</div>
