{%- block about -%}
<about>
  <div class="content">
    <div class="media">
      <figure class="media-left">
        <div class="image is-128x128">
          <img class="is-rounded" src="/common/es-4571-087.jpg">
        </div>
      </figure>
      <div class="media-content">
        <div class="about-text">
          <p><strong>Hi, I'm Eric.</strong></p>
          <p>
            I’m an avid world traveler, photographer, software developer, and digital storyteller.
          </p>
          <p class="optional">
            I help implement the Content Authenticity Initiative at Adobe.
            More <a href="https://ericscouten.com/about/">about me</a>.
          </a>
          </p>
          <div class="links">
            <p class="link es-home">
              <a href="https://ericscouten.com" rel="me">
                <span class="icon is-small"><i class="fas fa-home"></i></span>ericscouten.com
              </a>
            </p>
            <p class="link">
              <a href="#subscribe">
                <span class="icon is-small"><i class="fas fa-envelope"></i></span><span class="cta-link">Subscribe / Follow</span>
              </a>
              <span class="socials">
                <a href="https://ericscouten.social/@scouten">
                  <span class="icon is-small"><i class="fab fa-mastodon"></i></span>
                </a>
                <a href="https://www.linkedin.com/in/ericscouten/">
                  <span class="icon is-small"><i class="fab fa-linkedin"></i></span>
                </a>
                <a href="https://www.facebook.com/eric.scouten.photo/">
                  <span class="icon is-small"><i class="fab fa-facebook-square"></i></span>
                </a>
                <a href="https://github.com/scouten">
                  <span class="icon is-small"><i class="fab fa-github"></i></span>
                </a>
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</about>
{%- endblock about -%}
