<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=0">

  {%- block favicon -%}{%- endblock -%}
  {%- block rss -%}
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path='rss.xml', trailing_slash=false) | safe }}">
  {%- endblock -%}
  
  {%- if page -%}
    {%- set_global pos = page -%}
  {%- elif section -%}
    {%- set_global pos = section -%}
  {%- endif -%}
  {%- if pos.title -%}
    {%- set_global pos_title = pos.title -%}
  {%- else -%}
    {%- set_global pos_title = config.title -%}
  {%- endif -%}
  {%- if pos.summary -%}
    {%- set_global pos_description = pos.summary | striptags | trim -%}
  {%- elif pos.content -%}
    {%- set_global pos_description = pos.content | striptags | trim -%}
  {%- endif -%}
  {%- if pos.extra.cover -%}
    {%- set_global pos_image = pos.permalink ~ "cover-" ~ pos.extra.cover ~ ".jpg" -%}
  {%- endif -%}

  <title>{{ pos_title }}</title>
  <meta name="twitter:title" content="{{ pos_title }}">
  <meta property="og:title" content="{{ pos_title }}">
  {%- if pos -%}
  <meta property="og:url" content="{{ pos.permalink | safe }}">
  <meta property="twitter:url" content="{{ pos.permalink | safe }}">
  {%- endif -%}
  {%- if pos_description -%}
  <meta name="description" content="{{ pos_description }}">
  <meta property="og:description" content="{{ pos_description }}">
  <meta name="twitter:description" content="{{ pos_description }}">
  {%- endif -%}
  {%- if pos_image -%}
  <meta property="og:image" content="{{ pos_image | safe }}" />
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image" content="{{ pos_image | safe }}">
  {%- endif -%}
  <meta property="og:type" content="website">
  <meta property="twitter:domain" content="{{ config.base_url | safe }}">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
  <script src="/common/header-scroll.js"></script>

  <link rel="stylesheet" href="/style.css">
  <script src="https://kit.fontawesome.com/{{ get_env(name="FONT_AWESOME_API_KEY", default="none") }}.js" crossorigin="anonymous"></script>

  {%- block extraheaders -%}{%- endblock -%}
</head>

<body{%- if config.extra.is_dark %} class="es-dark-mode"{%- endif -%}>
  <header id="header">
    {%- block brand -%}
    <div class="es-com">
      <div class="full-name">
        <a href="https://ericscouten.com"><img src="/common/es-logo.png" width="48" height="48" alt="" />&thinsp;<span class="eric">eric</span> <span class="scouten">scouten.</span></a>&thinsp;{%- if config.extra.es_site -%}<a href="/">{{ config.extra.es_site }}</a>{%- endif -%}</div>
      <div class="short-name">
        <a href="/"><img src="/common/es-logo.png" width="48" height="48" alt="" />{%- if config.extra.es_site -%}&thinsp;.{{ config.extra.es_site }}{%- endif -%}</a>{%- if page_title -%}<span class="title">&thinsp;> <a href="#top">{{ page_title }}</a></span>{%- endif -%}</div>
    </div>
    {%- endblock brand -%}

    {%- block nav -%}{%- endblock -%}
  </header>

  {%- block miniheader -%}{%- endblock -%}

  <section class="section root">
    <div class="container">
      {%- block content -%}{%- endblock -%}
    </div>
  </section>

  <cta>
    {%- block cta -%}
    <inner>
      <h3>If you’ve enjoyed this …</h3>
      {%- block cta_inner -%}
      {%- set_global article_type = config.extra | get(key="article_type", default="travel stories") -%}
      <p>You can see more of my {{article_type}} without having to check back randomly to see if I’ve posted something new.</p>
      {%- endblock cta_inner -%}
      <ul>
        {%- if config.extra.mastodon_site_account -%}
        <li><b>Using Mastodon?</b> {% if config.extra.mastodon_site_account and config.extra.mastodon_site_url -%} Each post from this site is automatically posted to <a href="{{ config.extra.mastodon_site_url }}" rel="me">{{ config.extra.mastodon_site_account }}</a>.{%- endif %} You can find me, the real human, at <a href="https://ericscouten.social/@scouten">@scouten@ericscouten.social</a>.</li>
        {%- endif -%}
        <li><b>Using a feed reader?</b> Here’s an <a href="{{ get_url(path='rss.xml', trailing_slash=false) | safe }}">RSS feed for you</a>.</li>
        <li>Or, if you prefer, you can drop your e-mail address here to subscribe to my at-most-weekly newsletter with my latest travel and other stories, powered by the good folks at <a href="https://buttondown.email" target="_blank">Buttondown</a>. <form
            action="https://buttondown.email/api/emails/embed-subscribe/scouten"
            method="post"
            target="popupwindow"
            onsubmit="window.open('https://buttondown.email/scouten', 'popupwindow')"
            class="embeddable-buttondown-form">
            <input type="email" name="email" id="bd-email" placeholder="you-rock@example.com" class="email"/>
            <input type="hidden" name="tag" value="{{ config.extra.es_site }}" />
            <input type="submit" value="Subscribe" class="subscribe"/>
          </form>
        </li>    
      </ul> 
      <p>Thank you for following along!</p>
    </inner>
    {%- endblock cta -%}
  </cta>

  <footer>
    {%- block footer -%}
    <p>All text and photography copyright © 1996 – {{ now() | date(format="%Y") }}, <a href="https://ericscouten.com">Eric Scouten</a>, unless otherwise attributed.</p>
    {%- endblock footer -%}
  </footer>
</body>
</html>
