<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=0">

  {%- block favicon -%}{%- endblock -%}
  {%- block rss -%}
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path='rss.xml', trailing_slash=false) | safe }}">
  {%- endblock -%}
  
  {%- if page -%}
    {%- set_global pos = page -%}
  {%- elif section -%}
    {%- set_global pos = section -%}
  {%- endif -%}
  {%- if pos.title -%}
    {%- set_global pos_title = pos.title -%}
  {%- elif term -%}
    {%- set_global pos_title = term.name -%}
  {%- elif taxonomy -%}
    {%- if config.extra.taxonomies[taxonomy.name].title -%}
      {%- set_global pos_title = config.extra.taxonomies[taxonomy.name].title -%}
    {%- else -%}
      {%- set_global pos_title = taxonomy.name -%}
    {%- endif -%}
  {%- else -%}
    {%- set_global pos_title = config.title -%}
  {%- endif -%}
  {%- if pos.summary -%}
    {%- set_global pos_description = pos.summary | striptags | trim -%}
  {%- elif pos.content -%}
    {%- set_global pos_description = pos.content | striptags | trim -%}
  {%- endif -%}
  {%- if pos.extra.cover_cdn_key -%}
    {%- set_global pos_image = "https://img.ericscouten.com/" ~ pos.extra.cover_cdn_key ~ "/" ~ "cover-" ~ pos.extra.cover ~ "-1000w.jpg" -%}
  {%- elif pos.extra.cover -%}
    {%- set_global pos_image = pos.permalink ~ "cover-" ~ pos.extra.cover ~ ".jpg" -%}
  {%- elif pos.extra.cover_abs_key -%}
    {%- set_global pos_image = "https://img.ericscouten.com/" ~ pos.extra.cover_abs_key -%}
  {%- elif pos.extra.cover_abs -%}
    {%- set_global pos_image = config.base_url ~ pos.extra.cover_abs -%}
  {%- endif -%}

  <title>{{ pos_title }}</title>
  <meta name="twitter:title" content="{{ pos_title }}">
  <meta property="og:title" content="{{ pos_title }}">
  {%- if pos -%}
  <meta property="og:url" content="{{ pos.permalink | safe }}">
  <meta property="twitter:url" content="{{ pos.permalink | safe }}">
  {%- endif -%}
  {%- if pos_description -%}
  <meta name="description" content="{{ pos_description }}">
  <meta property="og:description" content="{{ pos_description }}">
  <meta name="twitter:description" content="{{ pos_description }}">
  {%- endif -%}
  {%- if pos_image -%}
  <meta property="og:image" content="{{ pos_image | safe }}" />
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image" content="{{ pos_image | safe }}">
  {%- endif -%}
  <meta property="og:type" content="website">
  <meta property="twitter:domain" content="{{ config.base_url | safe }}">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
  <script src="/common/header-scroll.js"></script>

  <link rel="stylesheet" href="/style.css">
  <script src="https://kit.fontawesome.com/{{ get_env(name="FONT_AWESOME_API_KEY", default="none") }}.js" crossorigin="anonymous"></script>

  {%- if config.extra.fathom_site_id and not config.base_url is starting_with("http://127.0.0.1") -%}
  <script src="https://cdn.usefathom.com/script.js" data-site="{{ config.extra.fathom_site_id }}" defer></script>
  {%- endif -%}

  {%- if page and config.extra.hyvor_site_id -%}
  <script async src="https://talk.hyvor.com/embed/embed.js" type="module"></script>
  {%- endif -%}

  {%- block extraheaders -%}{%- endblock -%}
</head>

<body{%- if config.extra.is_dark %} class="es-dark-mode"{%- endif -%}>
  <header id="header">
    {%- block brand -%}
    <div class="es-com">
      <div class="full-name">
        <a href="https://ericscouten.com"><img src="/common/es-logo.png" width="48" height="48" alt="" />&thinsp;<span class="eric">eric</span>&thinsp;<span class="scouten">scouten.</span></a>&thinsp;{%- if config.extra.es_site -%}<a href="/">{{ config.extra.es_site }}</a>{%- endif -%}</div>
      <div class="short-name">
        <a href="/"><img src="/common/es-logo.png" width="48" height="48" alt="" />{%- if config.extra.es_site -%}&thinsp;.{{ config.extra.es_site }}{%- endif -%}</a>{%- if pos_title -%}<span class="title">&thinsp;> <a href="#top">{{ pos_title }}</a></span>{%- endif -%}</div>
    </div>
    {%- endblock brand -%}

    {%- block nav -%}{%- endblock -%}
  </header>

  {%- include "about.html" -%}

  <div class="search-results">
    <h2>Search Results</h2>
    <div class="search-results__items"></div>
  </div>

  {%- block miniheader -%}{%- endblock -%}

  {%- block root -%}
  <section class="section root">
    <div class="container">
      {%- block content -%}{%- endblock -%}
    </div>
  </section>
  {%- endblock root -%}

  <cta id="subscribe">
    {%- block cta -%}
    {%- set_global article_type = config.extra | get(key="article_type", default="travel stories") -%}
    <inner>
      <h3>If you’ve enjoyed this …</h3>
      <p><b>Subscribe</b> to my free and occasional (never more than weekly) <a href="https://buttondown.email/scouten">e-mail newsletter</a> with my latest travel and other stories:
        <form
          action="https://buttondown.email/api/emails/embed-subscribe/scouten"
          method="post"
          target="popupwindow"
          onsubmit="window.open('https://buttondown.email/scouten', 'popupwindow')"
          class="embeddable-buttondown-form">
          <input type="email" name="email" id="bd-email" placeholder="you-rock@example.com" class="email"/>
          <input type="hidden" name="tag" value="{{ config.extra.es_site }}" />
          <input type="submit" value="Subscribe" class="subscribe"/>
        </form>
      </p>
      <p><b>Or follow</b> me on one or more of the socials:</p>
      <ul>
        <li>
          <a rel="me" href="https://ericscouten.social/@scouten">
            <span class="icon is-small"><i class="fab fa-mastodon"></i></span>
            <b>Mastodon</b> <span class="optional">@scouten@ericscouten.social</span>
          </a>
        </li>
        {%- if config.extra.mastodon_site_account and config.extra.mastodon_site_url -%}
        <li>
          <a href="{{ config.extra.mastodon_site_url }}">
            <span class="icon is-small"><i class="fab fa-mastodon"></i></span>
            <b>Mastodon</b> {{ config.extra.mastodon_site_account }} <span class="optional">(for this site)</span>
          </a>
        </li>
        {%- endif -%}
        <li>
          <a href="https://www.linkedin.com/in/ericscouten/">
            <span class="icon is-small"><i class="fab fa-linkedin"></i></span>
            <b>LinkedIn</b>
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/eric.scouten.photo/">
            <span class="icon is-small"><i class="fab fa-facebook-square"></i></span>
            <b>Facebook</b>
          </a>
        </li>
        <li>
          <a href="https://github.com/scouten">
            <span class="icon is-small"><i class="fab fa-github"></i></span>
            <b>GitHub</b> <span class="optional">@scouten</span> (personal)
          </a>
        </li>
        <li>
          <a href="https://github.com/scouten">
            <span class="icon is-small"><i class="fab fa-github"></i></span>
            <b>GitHub</b> <span class="optional">@scouten-adobe</span> (<span class="optional">open-source work for </span>Adobe)
          </a>
        </li>
        <li>
          <a href="https://now.ericscouten.com">
            <span class="icon is-small"><i class="fas fa-clock"></i></span>
            <b>My “now” page</b> <span class="optional">(What I’m working on now)</span>
          </a>
        </li>
      </ul> 
    </inner>
    {%- endblock cta -%}
  </cta>

  <footer>
    {%- block footer -%}
    <p>All design, text, and photography copyright © 1996 – {{ now() | date(format="%Y") }}, <a href="https://ericscouten.com">Eric&nbsp;Scouten</a>, unless otherwise attributed.</p>
    {%- endblock footer -%}
  </footer>

  <script type="text/javascript" src="{{ get_url(path="elasticlunr.min.js") }}"></script>
  <script type="text/javascript" src="{{ get_url(path="search.js") }}"></script>
</body>
</html>
