{% block breadcrumbs -%}
  {% if page -%}
    {% set_global components = page.components -%}
  {% elif section -%}
    {% set_global components = section.components -%}
  {% elif term -%}
    {% set_global components = [taxonomy.name, "x"] -%}
  {% else -%}
    {% set_global components = [] -%}
  {% endif -%}

  {% if components | length > 1 -%}
  <nav class="breadcrumb has-succeeds-separator" aria-label="breadcrumbs">
    <ul>
      {% set_global bc_slug = "" -%}
      <li><a href="/"><span class="icon is-small"><i class="fas fa-home" aria-hidden="true"></i></span></a>&#8203;</li>
      {% for parent in components | slice(end=-1) -%}
        {% set_global bc_slug = bc_slug ~ parent ~ "/" -%}
        {% if term -%}
          <li><a href="/{{ taxonomy.name | safe }}">{{ taxonomy.name }}</a></li>
        {% else -%}
          {% set bc_page = get_section(path = bc_slug ~ "_index.md") -%}
          <li><a href="{{ bc_page.permalink | safe }}">{{ bc_page.title }}</a></li>
        {% endif -%}
      {% endfor -%}
    </ul>
  </nav>
  {% endif -%}
{% endblock breadcrumbs -%}
