{%- if page.extra.comments -%}
<div id="es-discourse">
  <h2>Discussion</h2>
  <div class="discourse-invite"><strong>New (September 2022):</strong> I welcome your comments or questions about this post on my new <a href="https://community.ericscouten.com">community site</a>. Comments posted there will appear here.</div>
  {%- if config.base_url is containing("127.0.0.1") or config.base_url is containing("netlify") -%}
  <div id ="discourse-comments-disabled">
    Comments disabled since this is not the primary deployment.
  </div>
  {%- else -%}
  <div id="discourse-comments"></div>

  <script type="text/javascript">
    DiscourseEmbed = { discourseUrl: 'https://community.ericscouten.com/',
                       discourseEmbedUrl: '{{ page.permalink | safe }}'
                     };
  
    (function() {
      var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
      d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
    })();
  </script>
  {%- endif -%}
</div>

<div id="es-discourse-embed">
  <div class="es-discourse-embed-body">
    <div class="site">
      {{ config.base_url | trim_start_matches(pat="https://") | trim_start_matches(pat="http://") | safe }}
    </div>
    {%- if page.extra.cover -%}
    <a href="{{ page.permalink | safe }}"><img src="{{ page.permalink | safe }}cover-{{ page.extra.cover | safe}}.jpg" alt="{{ pos_title }}" /></a>
    {%- endif -%}
    <p class="page-title">{{ pos_title }}</p>
    {%- if pos and pos.date and not pos.extra.hide_date -%}
    <p class="page-date">
      <span class="date">
        {{ pos.date | date(format="%e %B %Y") }}
      </span>
    </p>
    {%- endif -%}
    <div class="content">
      {{ pos.summary | safe }}
    </div>
    <div class="read-more"><a href="{{ page.permalink | safe }}">Read the full post … →</a></div>
  </div>
</div>
{%- endif -%}
