{%- if page.extra.markers or page.extra.track or page.extra.track_log_key or page.extra.lat or page.extra.lon -%}
<div id="map"{%- if config.extra.is_dark %} class="map-dark-mode"{%- endif %}></div>

{%- if page.extra.markers -%}
<script src="/common/add-gps-markers.js"></script>
{%- if config.extra.map_clustering -%}
<script src="https://unpkg.com/@googlemaps/markerclustererplus/dist/index.min.js"></script>
{%- endif -%}
<script src="{{ page.extra.markers }}"></script>
{%- endif -%}
<script>
  let map;

  function initMap() {
    const map = new google.maps.Map(document.getElementById("map"), {
      {%- if not page.extra.bounds -%}
        {%- if page.extra.zoom -%}
        zoom: {{ page.extra.zoom }},
        {%- else -%}
        zoom: 12,
        {%- endif -%}
      {%- endif -%}
      {%- if page.extra.lat and page.extra.lon -%}
      center: { lat: {{ page.extra.lat }}, lng: {{ page.extra.lon }} },
      {%- endif -%}
      mapTypeId: "terrain",
      {%- if config.extra.is_dark -%}
      styles: [
        { elementType: "geometry", stylers: [{ color: "#363640" }] },
        { elementType: "labels.text.stroke", stylers: [{ color: "#242f3e" }] },
        { elementType: "labels.text.fill", stylers: [{ color: "#746855" }] },
        {
          featureType: "administrative.country",
          elementType: "geometry.stroke",
          stylers: [{ "color": "#999999" }],
        },
        {
          featureType: "administrative.province",
          elementType: "geometry.stroke",
          stylers: [{ color: "#cccccc" }],
        },
        {
          featureType: "administrative.locality",
          elementType: "labels.text.fill",
          stylers: [{ color: "#d59563" }],
        },
        {
          featureType: "poi",
          elementType: "labels.text.fill",
          stylers: [{ color: "#d59563" }],
        },
        {
          featureType: "poi.park",
          elementType: "geometry",
          stylers: [{ color: "#263c3f" }],
        },
        {
          featureType: "poi.park",
          elementType: "labels.text.fill",
          stylers: [{ color: "#6b9a76" }],
        },
        {
          featureType: "road",
          elementType: "geometry",
          stylers: [{ color: "#38414e" }],
        },
        {
          featureType: "road",
          elementType: "geometry.stroke",
          stylers: [{ color: "#212a37" }],
        },
        {
          featureType: "road",
          elementType: "labels.text.fill",
          stylers: [{ color: "#9ca5b3" }],
        },
        {
          featureType: "road.highway",
          elementType: "geometry",
          stylers: [{ color: "#746855" }],
        },
        {
          featureType: "road.highway",
          elementType: "geometry.stroke",
          stylers: [{ color: "#1f2835" }],
        },
        {
          featureType: "road.highway",
          elementType: "labels.text.fill",
          stylers: [{ color: "#f3d19c" }],
        },
        {
          featureType: "transit",
          elementType: "geometry",
          stylers: [{ color: "#2f3948" }],
        },
        {
          featureType: "transit.station",
          elementType: "labels.text.fill",
          stylers: [{ color: "#d59563" }],
        },
        {
          featureType: "water",
          elementType: "geometry",
          stylers: [{ color: "#17263c" }],
        },
        {
          featureType: "water",
          elementType: "labels.text.fill",
          stylers: [{ color: "#515c6d" }],
        },
        {
          featureType: "water",
          elementType: "labels.text.stroke",
          stylers: [{ color: "#17263c" }],
        },
      ],
      {%- endif -%}

    });

    map.setOptions('TERRAIN');

    {%- if page.extra.bounds -%}
    const sw = new google.maps.LatLng({{ page.extra.bounds.sw[0] }}, {{ page.extra.bounds.sw[1] }});
    const ne = new google.maps.LatLng({{ page.extra.bounds.ne[0] }}, {{ page.extra.bounds.ne[1] }});
    const bounds = new google.maps.LatLngBounds(sw, ne);
    map.fitBounds(bounds);
    {%- endif -%}

    {%- if page.extra.track or page.extra.track_log_key -%}
    var kmlLayer = new google.maps.KmlLayer({
      {%- if page.extra.track_log_key -%}
      url: 'https://img.ericscouten.com/{{ page.extra.track_log_key | safe }}',
      {%- elif config.extra.kml_folder -%}
      url: '{{config.base_url | safe }}/kml/{{ page.extra.track }}',
      {%- else -%}
      url: '{{config.base_url | safe }}{{ current_path | safe }}{{ page.extra.track }}',
      {%- endif -%}
      preserveViewport: true,
      map: map
    });
    google.maps.event.addListener(kmlLayer, 'status_changed', function(evt) {
      console.log("KML layer status: " + kmlLayer.getStatus());
    });
    {%- endif -%}

    {%- if page.extra.markers -%}
    markers = addGpxMarkers(map);
    {%- if config.extra.map_clustering -%}
    const markerCluster = new MarkerClusterer(map, markers,
      {
        imagePath: "{{ config.base_url | safe }}/common/m",
        maxZoom: 16,
      } );
    {%- endif -%}
    {%- elif page.extra.lat and page.extra.lon -%}
    const marker = new google.maps.Marker({
      position: { lat: {{ page.extra.lat }}, lng: {{ page.extra.lon }} },
      map: map,
      preserveViewport: false,
    });
    {%- endif -%}
  }
</script>
<script
  src="https://maps.googleapis.com/maps/api/js?key={{ get_env(name="GOOGLE_API_KEY", default="none") }}&callback=initMap&libraries=&v=weekly"
  async>
</script>
<div class="map-caption">
  {%- if page.extra.route -%}{{ page.extra.route }}{%- endif -%}
  {%- if page.extra.route and page.extra.distance -%}&nbsp;· {% endif -%}
  {%- if page.extra.distance -%}{{ page.extra.distance }}{%- endif -%}
  
  <br/>
  ({%- if page.extra.markers -%}Mouse over or tap on the markers to see the photos there. {% endif -%} Use the <img src="data:image/svg+xml,%3Csvg%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22M12%2019.175l2.125-2.125%201.425%201.4L12%2022l-3.55-3.55%201.425-1.4L12%2019.175zM4.825%2012l2.125%202.125-1.4%201.425L2%2012l3.55-3.55%201.4%201.425L4.825%2012zm14.35%200L17.05%209.875l1.4-1.425L22%2012l-3.55%203.55-1.4-1.425L19.175%2012zM12%204.825L9.875%206.95%208.45%205.55%2012%202l3.55%203.55-1.425%201.4L12%204.825z%22%20fill%3D%22%23666%22/%3E%3C/svg%3E" width="24" height="24" /> button to adjust the map’s position and zoom.)
</div>
{%- endif -%}
