{%- extends "base.html" -%}
{%- import "es_macros.html" as es_macros -%}

{%- block content -%}
<div class="page">

  <div class="title-assembly">
    {%- include "breadcrumbs.html" -%}
    {%- include "title.html" -%}

    {%- if config.extra.taxonomies.author.require -%}
      {%- if page | get(key="taxonomies", default=[]) | get(key="author", default=[]) | length != 1 -%}
        {{ throw(message="Must be exactly one author entry in taxonomies") }}
      {%- endif -%}
    {%- endif -%}

    {%- set fpo = page | get(key="taxonomies", default=[]) | get(key="first_published_on", default=[]) | sort -%}
    {%- set fpo2 = page | get(key="extra", default=[])| get(key="first_published_on", default=false) -%}

    {%- set author = page | get(key="taxonomies", default=[]) | get(key="author", default=[]) | sort | first -%}

    <ul class="page_meta">
      {%- block page_meta -%}
        {%- if fpo or fpo2 or author or page.extra.author -%}
        <li>
          {%- if fpo | length > 0 -%}
            First published on
            {%- for site in fpo -%}
              {{ es_macros::tag(tax = "first_published_on", term = site) }}
            {%- endfor -%}
          {%- endif -%}
          {%- if fpo2 -%}
            First published on {{ fpo2 }}
          {%- endif -%}
          {%- if author %} by
            {{ es_macros::tag(tax = "author", term = author) }}
          {%- elif page.extra.author %}
            by {{ page.extra.author }}
          {%- endif -%}
        </li>
        {%- endif -%}
        {%- if page.updated -%}
          <li>Added to {{ config.title }} on {{ page.updated | date(format="%e %B %Y") }}</li>
        {%- endif -%}
        {%- block page_meta_extra -%}
        {%- endblock page_meta_extra -%}
      {%- endblock page_meta -%}
    </ul>
  </div>

  <div id="es-content">
    {%- if page.toc and page.extra.toc -%}
    {%- block toc -%}
      <div id="toc">
        <h1>Table of Contents</h1>
        <ul>
        {%- for h1 in page.toc -%}
          <li>
            <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
            {%- if h1.children -%}
              <ul class="toc-h2">
              {%- for h2 in h1.children -%}
                <li>
                  <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
                </li>
              {%- endfor -%}
              </ul>
            {%- endif -%}
          </li>
        {%- endfor -%}
        </ul>
      </div>
    {%- endblock toc -%}
    {%- endif -%}
  
    {{ page.content | safe }}

  </div>  

  {%- block after_content -%}
  {%- endblock -%}

  {%- include "map.html" -%}
  {%- include "endmark.html" -%}
  {%- include "next_prev.html" -%}
  {%- include "comments.html" -%}
</div>
{%- endblock content -%}
