{% extends "base.html" %}

{% block content %}
<div class="page">
  {% if page.title %}
    <h1 class="title">{{ page.title }}</h1>
  {% endif %}
  {{ page.content | safe }}

  {% block next_prev %}
    <div id="next_prev">
      {% if page.earlier %}
      <div id="prev">
        &lt; <a href="{{ page.earlier.permalink | safe }}">{{ page.earlier.title }}</a>
      </div>
      {% endif %}
      {% if page.earlier and page.later %}
      <div id="divider"></div>
      {% endif %}
      {% if page.later %}
      <div id="next">
        <a href="{{ page.later.permalink | safe }}">{{ page.later.title }}</a> &gt;
      </div>
      {% endif %}
    </div>
  {% endblock next_prev %}
</div>
{% endblock content %}
