{% extends "base.html" %}

{% block content %}
<div class="page">
  <div class="title-assembly">
    {% if page.title %}
      <h1 class="title">{{ page.title }}</h1>
    {% endif %}
    <ul class="page_meta">
      {% block page_meta %}
        {% if page.date %}
          <li>
            {% if page.extra.first_published_on %}First published on
              {{ page.extra.first_published_on }} on
            {% endif %}
            {{ page.date | date(format="%e %B %Y") }}
          </li>
        {% endif %}
        {% if page.updated %}
          <li>Added to {{ config.title }} on {{ page.updated | date(format="%e %B %Y") }}</li>
        {% endif %}
      {% endblock page_meta %}
    </ul>
  </div>

  {{ page.content | safe }}

  {% block next_prev %}
    <div id="next_prev">
      {% if page.earlier %}
      <div id="prev">
        &lt; <a href="{{ page.earlier.permalink | safe }}">{{ page.earlier.title }}</a>
      </div>
      {% endif %}
      {% if page.earlier and page.later %}
      <div id="divider"></div>
      {% endif %}
      {% if page.later %}
      <div id="next">
        <a href="{{ page.later.permalink | safe }}">{{ page.later.title }}</a> &gt;
      </div>
      {% endif %}
    </div>
  {% endblock next_prev %}
</div>
{% endblock content %}
