{% extends "base.html" -%}

{% block content -%}
<div class="section">

  <div class="title-assembly">
    {% include "breadcrumbs.html" %}
    {% if section.title -%}
      <h1 class="title">{{ section.title }}</h1>
    {% endif -%}
  </div>

  {{ section.content | safe }}

  {# TO DO: Add summary map option? #}

  {# TO DO: Add links to subsections #}

  {% block pages -%}
  <ul class="pages">
    {% if section.extra.reverse -%}
      {% set pages = section.pages | reverse -%}
    {% else -%}
      {% set pages = section.pages -%}
    {% endif -%}
    {% for page in pages -%}
      <div class="card">
        <card-header class="card-header">
          <card-header-title class="card-header-title">
            <info class="card-header-meta">
              <item class="title"><a href="{{ page.permalink | safe }}">{{ page.title }}</a></item>
              <item class="date">{{ page.date | date(format="%e %B %Y") }}</item>
            </info>
          </card-header-title>
        </card-header>
        {% if page.extra.feature -%}
        <div class="card-image">
          <figure class="image is-16by9">
            <a href="{{ page.permalink | safe }}">
              <img src="{{ page.permalink | safe }}/cover-{{ page.extra.feature | safe}}.jpg" alt="{{ page.title }}" />
            </a>
          </figure>
        </div>
        {% endif -%}
        <div class="card-content">
          <div class="content">
            {{ page.summary | safe }}
            <p class="read-more"><a href="{{ page.permalink | safe }}">Read more &rarr;</a></p>
          </div>
        </div>
      </div>
    {% endfor -%}
  </ul>
  {% endblock pages -%}

  {# TO DO: Add next/prev section links #}

</div>
{% endblock content -%}
